.lead__ellipse_perm{
  position: absolute;
  top: 241.14px;
  left: 564.61px;
  background-color: #8cbabb;
  border-radius: 50%;
}

@media screen and (max-width: 1024px) {
  .lead__ellipse_perm{
    top: 227.41px;
    left: 532.48px;
  }
}

@media screen and (max-width: 768px) {
  .lead__ellipse_perm{
    top: 188.2px;
    left: 440.67px;
  }
}

@media screen and (max-width: 320px) {
  .lead__ellipse_perm{
    top: 78.42px;
    left: 183.61px;
  }
}