.lead__ellipse_yaroslavle{
  position: absolute;
  top: 293.03px;
  left: 263.35px;
  background-color: #47443e;
  border-radius: 50%;
}

@media screen and (max-width: 1024px) {
  .lead__ellipse_yaroslavle{
    top: 276.35px;
    left: 248.36px;
    
  }
}


@media screen and (max-width: 768px) {
  .lead__ellipse_yaroslavle{
    top: 228.71px;
    left: 205.54px;
    
  }
}
/*
@media screen and (max-width: 550px) {
  .lead__ellipse_yaroslavle{
    top: 46%;
    left: 27%;
    
  }
}*/

@media screen and (max-width: 320px) {
  .lead__ellipse_yaroslavle{
    top: 95.29px;
    left: 85.64px;
      }
}


