.lead__city_pskov {
  width: 39.97px;
  position: absolute;
  top: 38.30569%;
  left: 2.36%;
}

@media screen and (max-width: 1024px) {
  .lead__city_pskov {
    width: 37.69px;
    top: 222.17px;
    left: 21.95px;
  }
}

@media screen and (max-width: 768px) {
  .lead__city_pskov {
    width: 31.19px;
    top: 183.87px;
    left: 18.16px;
  }
}

@media screen and (max-width: 600px) {
  .lead__city_pskov {
    width: 13px;
    top: 76.61px;
    left: 5.57px;
  }
}