.lead__city_perm{
  max-width: 40.14px;
  max-height: 8.48px;
  position: absolute;
  top: 225.82px;
  left: 548.96px;
}

@media screen and (max-width: 1024px) {
  .lead__city_perm{
    max-width: 37.86px;
    max-height: 7.79px;
    top: 212.97px;
    left: 517.72px;
  }
}

@media screen and (max-width: 768px) {
  .lead__city_perm{
    max-width: 31.33px;
    max-height: 6.61px;
    top: 176.25px;
    left: 428.45px;
  }
}

@media screen and (max-width: 320px) {
  .lead__city_perm{
    max-width: 13.06px;
    max-height: 2.76px;
    top: 73.44px;
    left: 178.52px;
  }
}