.galery__image{
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}


@media screen and (max-width: 1024px) {
  .galery__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: 768px) {
  .galery__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: 320px) {
  .galery__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
