@media screen and (max-width: 550px) {
  .footer__mobile{
    display: grid;
    row-gap: 32px;
  }
}

@media screen and (max-width: 320px) {
  .footer__mobile{
    display: grid;
    row-gap: 32px;
  }
}