.footer__author {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

@media screen and (max-width: 700px) {
  .footer__author {
    box-sizing: border-box;
    padding-top: 48px;

  }
}
