.lead__ellipse {
  width: 6.99px;
  height: 8.14px;
}

@media screen and (max-width: 1024px) {
  .lead__ellipse {
    width: 6.59px;
    height: 7.68px;
  }
}

@media screen and (max-width: 768px) {
  .lead__ellipse {
   width: 5.45px;
    height: 6.35px;
  }
}

@media screen and (max-width: 320px) {

  .lead__ellipse {
    width: 2.27px;
    height: 2.65px;
  }
}