.lead__title {
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  color: #ffffff;
  max-width: 720px;
  /*width: 73.170%;*/
  text-align: center;
  margin: 0 auto;
  margin-bottom: 32px;
}

@media screen and (max-width: 768px) {
  .lead__title {
    width: 93.33%;
  }
}

@media screen and (max-width: 720px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
    max-width: 288px;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    max-width: 288px;
    margin-bottom: 16px;
  }

}

@media screen and (max-width: 320px) {
  .lead__title{
    font-size: 28px;
    width: 100%;
  }
}