.footer__links{
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .footer__links{
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .footer__links{
    max-width: 720px;
  }
}

@media screen and (max-width: 320px) {
  .footer__links{
    max-width: 186px;
    height: 310px;
    margin-left: 16px;
    display: grid;
    grid-template-columns: 186px;


  }
}