.lead__ellipse_tyumen{
  position: absolute;
  top: 286.93px;
  left: 621.37px;
  background-color: #414847;
  border-radius: 50%;
}

@media screen and (max-width: 1024px) {
  .lead__ellipse_tyumen{
    top: 270.6px;
    left: 581.01px;
    
  }
}

@media screen and (max-width: 768px) {
  .lead__ellipse_tyumen{
    top: 223.94px;
    left: 484.97px;
  }
}

@media screen and (max-width: 320px) {
  .lead__ellipse_tyumen{
    top: 93.31px;
    left: 202.07px;
  }
}