.lead__city_tyumen{
  width: 52.33px;
  height: 8.71px;
  position: absolute;
  top: 269.37px;
  left: 621.44px;
}

@media screen and (max-width: 1024px) {
  .lead__city_tyumen{
   width: 49.35px;
   height: 8.21px;
   top: 254.04px;
   left: 586.07px;
  }
}

@media screen and (max-width: 768px) {
  .lead__city_tyumen{
    width: 40.84px;
    height: 6.8px;
    top: 201.24px;
    left: 485.03px;
    
  }
}

@media screen and (max-width: 500px) {
  .lead__city_tyumen{
    width: 17.02px;
    height: 2.83px;
    top: 87.6px;
    left: 200.09px;
  }
}