.lead__city_novgorod{
  width: 65.82px;
  position: absolute;
  top: 14.668%;
  left: 9.4%;
}

@media screen and (max-width: 1024px) {
  .lead__city_novgorod{
    width: 62.08px;
  }
}

@media screen and (max-width: 768px) {
  .lead__city_novgorod{
    width: 51.37px;
  }
}

@media screen and (max-width: 650px) {
  .lead__city_novgorod{
    width: 21.41px;
  }
}