.galery__item {
  max-width: 284px;
  max-height: 213px;
}

@media screen and (max-width: 1024px) {
  .galery__item {
    max-width: 300px;
    max-height: 225px;
  }
}

@media screen and (max-width: 768px) {
  .galery__item {

    max-width: 352px;
    max-height: 264px;

  }
}


@media screen and (max-width: 320px) {
  .galery__item {
    max-width: 288px;
    height: 216px;
  }
}
