.galery__item{
  max-width: 284px;
  min-height: 216px;
}

@media screen and (max-width: 1024px) {
  .galery__item{
   max-width: fit-content;

  }
}

@media screen and (max-width: 768px) {
  .galery__item{
    max-width: 352px;
    height: 264px;
  }
}


@media screen and (max-width: 320px) {
  .galery__item{
    max-width: 288px;
    height: 216px;
  }
}


