.cover {
  max-width: 1184px;
  min-height: 740px;
  margin: 0 auto;
  margin-bottom: 92px;
  
}

@media screen and (max-width: 1024px) {
  .cover {
    max-width: 1024px;
    min-height: 640px;
    min-width: 320px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    max-width: 768px;
    min-width: 320px;
    min-height: 480px;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    min-height: 200px;
    max-width: 320px;
    margin-bottom: 64px;
  }
}