.cover {
  max-width: 1184px;
  min-height: 740px;
  margin: 0 auto;
  margin-bottom: 92px;
  background-image: url(./../../images/background.jpg);

  display: flex;
  /*flex-direction: column;*/
  justify-content: center;
  align-items: center;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  background-position: center;
  background-size: cover;
  z-index: 1;
}

.cover::before {
  content: "";
  background: #2a2c2f;
  opacity: 0.3;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s;
}

.cover:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .cover {
    max-width: 1024px;
    min-height: 640px;

  }
}

@media screen and (max-width: 768px) {
  .cover {
    max-width: 768px;
    min-height: 480px;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    min-height: 200px;
    max-width: 320px;
    margin-bottom: 64px;
  }
}
