.lead__ellipse_novgorod{
  position: absolute;
  top: 20.345%;
  left: 12.476%;
  background-color: #272722;
  border-radius: 50%;
}
/*
@media screen and (max-width: 1024px) {
 .lead__ellipse_novgorod{
  top: 118px;
  left: 163.77px;
 }
}*/

@media screen and (max-width: 768px) {
  .lead__ellipse_novgorod{
    top: 97.66px;
    left: 95.81px;
  }
}@media screen and (max-width: 320px) {
  .lead__ellipse_novgorod{
    top: 40.69px;
    left: 39.92px;
  }
}

