.place__link {
  /* max-width: 456px;*/
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  padding: 0;
  margin: 0;
}

.place__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 470px) {
  .place__link {
    font-size: 14px;
    max-width: 180px;

  }
}

@media screen and (max-width: 320px) {
  .place__link {
    max-width: 288px;
    font-size: 18px;
    margin: 0 auto;
    margin-bottom: 32px;
  }
}
