.lead__city_glazov{
  max-width: 46.83px;
  max-height: 8.71px;
  position: absolute;
  top: 300.84px;
  left: 546.8px;
}

@media screen and (max-width: 1024px) {
  .lead__city_glazov{
    max-width: 44.17px;
    max-height: 8.21px;
    top: 283.72px;
    left: 515.68px;
  }
}

@media screen and (max-width: 768px) {
  .lead__city_glazov{
    max-width: 33.55px;
    max-height: 6.8px;
    top: 234.8px;
    left: 426.77px;
  }
}

@media screen and (max-width: 320px) {
  .lead__city_glazov{
    max-width: 15.23px;
    max-height: 2.83px;
    top: 97.83px;
    left: 177.82px;
  }
}