.container{
  font-family: 'Inter', 'Open Sans', 'Roboto';
  margin: 0 auto;
  max-width: 1280px;
  /*min-width: 320px;*/
  box-sizing: border-box;
  padding-top: 28px;
  text-rendering: optimizeLegibility;
  min-height: 6875px;
}

@media screen and (max-width: 1024px) {
  .container{
    min-height: 6895px;
  } 
  
}

@media screen and (max-width: 768px) {
  .container{
    min-height: 6855px;
  }
  
}

@media screen and (max-width: 320px) {
  .container{
    min-height: 10023px;
  }
  
}