.place {
  width: 100%;
  display: grid;
  grid-template-columns: minmax(288px, 460px) minmax(352px, 484px);
  grid-template-rows: auto auto;
  column-gap: 40px;
  row-gap: 48px;
  margin-bottom: 80px;
}

.place:last-of-type {
  margin-bottom: 92px;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: minmax(288px, 440px) minmax(352px, 456px);
    grid-template-rows: auto auto;
    column-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: minmax(280px, 340px) minmax(280px, 352px);
    column-gap: 28px;
    margin-bottom: 73px;
  }

  .place:last-of-type {
    margin-bottom: 90px;
  }
}

@media screen and (max-width: 600px) {
  .place {
    grid-template-columns: minmax(100px, 379px) minmax(100px, 352px);
    column-gap: 28px;
    margin-bottom: 73px;
  }


}

@media screen and (max-width: 400px) {
  .place {
    max-width: 320px;
    display: block;
    margin-bottom: 50px;
  }

  .place:last-of-type {
    margin-bottom: 66px;
  }
}
