.lead__city_yaroslavle{
  max-width: 73.61px;
  max-height: 8.71px;
  position: absolute;
  /*top: 47.59%;
  left: 30.2%;*/
  top: 292.68px;
  left: 279.26px;
}

@media screen and (max-width: 1024px) {
  .lead__city_yaroslavle{
   max-width: 69.42px;
   max-height: 8.21px;
   top: 267.02px;
   left: 263.37px;
  }
}@media screen and (max-width: 768px) {
  .lead__city_yaroslavle{
   max-width: 57.45px;
   max-height: 6.8px;
   top: 228.43px;
   left: 217.96px;
  }
}

@media screen and (max-width: 320px) {
  .lead__city_yaroslavle{
   max-width: 23.94px;
   max-height: 2.83px;
   top: 95.18px;
   left: 90.82px;
  }
}